body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 4rem;
}

/* titolo*/
h1 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.navbar-spacer {
    height: 70px;
}

/*logout btn*/
#logoutBtn {
    display: inline-block;
    width: fit-content;
}

#logoutBtn a {
    text-decoration: none !important;
    color: inherit !important;
    ;
}

#logoutBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#logoutBtn:hover a {
    color: inherit !important;
}

/*grafico*/
#tradingview-widget {
    margin-bottom: 2rem;
}

#myChart{
    width: 100% !important;
    height: auto !important;
    max-width:1000px;
    max-height:500px;
    display: block;
    margin: 0 auto;
}
#fatturationButton {
    display: block;
    margin: 0 auto;
    padding: 0.4em 1.2em;
    font-size: 1rem;
    min-width: 120px;
    max-width: 220px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
    .navbar-spacer {
        height: 56px;
    }
    #myChart {
        max-width: 100% !important;
        max-height: 250px !important;
    }
    #fatturationButton {
        width: 80%;
        min-width: 90px;
        max-width: 150px;
        padding: 0.5em 0.5em;
        font-size: 0.9rem;
    }
}